html,body{
	height: 100%;
	margin: 0;
}
body{
	max-height: 900px;
	width: 100%;
	background: black;
	display: block;
	align-items: center;
	justify-content: center;
}
canvas{
	border: 1px solid white;
}
h1 {
	color: white;
	font-size: 48px;
}
.text{
	text-align: center;
}
footer{
	background: black;
	text-align:center;
	font-size: 24px;
}
footer p{
	color: black;
	text-shadow: 0px 0 8px white;
}
footer p a{
	color: black;
	text-decoration: none;
}